<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MAP My Access Passport">
    <meta name="author" content="MJ2P">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'images/jisc.png' %}" class="img-responsive jisc-logo" alt="JISC Logo" />
            </div>
        </div>
        <div class="row white">
            <div class="col-md-2 col-md-offset-2">
                <a href="/">
                    <img src="{% static 'images/map.png' %}" class="img-responsive map-logo center-block" alt="MAP Logo" />
                </a>
            </div>
            <div class="col-md-4 text-center title">
                <p>
                    {% block title %}
                    {% endblock %}
                </p>
            </div>
            <div class="col-md-2 pull-right">
                <img src="{% static 'images/nat-star.png' %}" class="img-responsive nat-star-logo" alt="National Star Logo" />
            </div>
        </div>
        <div class="row top-pad">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>