{% extends 'map/base.html' %}
{% load i18n %}

{% load bootstrap_forms %}

{% block title %}
{% trans "Sign Up" %}
{% endblock %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.non_field_errors }}
      {% for field in form %}
        {{ field.errors }}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field|add_css:"form-control" }}
      </div>
      {% endfor %}
    </fieldset>
    <input type="submit" value="{% trans 'Signup' %}" class="form-control btn btn-primary" />
  </form>
</div>
{% endblock %}
